fastapi
uvicorn

#for template
jinja2

#for static files
aiofiles

# for forms
python-multipart

#for database
sqlalchemy
psycopg2

# database change management
alembic

#for loading environment variables
python-dotenv

#for email validation
pydantic[email]

# for dev purpose, to be split with help of poetry wonderful magical world
black
isort
flake8
