fastapi
uvicorn

#for template
jinja2


#for static files
aiofiles

#for database   
sqlalchemy         
psycopg2

#for loading environment variables 
python-dotenv

#for email validation
pydantic[email]

# for dev purpose, to be split with help of poetry wonderful magical world
black
isort
flake8
